<html>
  <head>
    <title>7x7</title>
    <link id="favicon" rel="icon" href="https://cdn.glitch.global/9c242df3-cd11-4aa5-ab53-9653fd6e4ad4/favicon.ico?v=1707812773996" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style_new.css" />
    <link rel="stylesheet" href="/mobile.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <main class="index-game-container">
      <div class="grid">
        {{#each drawing}}
          <svg
            width="95"
            height="95"
            viewbox="0 0 95 95"
            class="gridItem color-{{this.color}}"
            xmlns="http://www.w3.org/2000/svg"
            style="grid-row-start: {{this.row}}; grid-column-start: {{this.column}}"
          >
            {{#eq this.shape "square"}}
              <rect width="95" height="95" class="square"></rect>
            {{else}}
              {{#eq this.shape "triangle"}}
                <path d="M47.5 0L95 95L0 95L47.5 0Z" class="triangle"></path>
              {{else}}
                {{#eq this.shape "circle"}}
                  <circle cx="47.5" cy="47.5" r="47.5" class="circle"></circle>
                {{/eq}}
              {{/eq}}
            {{/eq}}
          </svg>
        {{/each}}
      </div>
      <div class="button-container">

        <a href="/draw" class="menu-button">
          <img
            style="position:absolute; left: 0; margin-left: 8px;"
            src="https://cdn.glitch.global/9c242df3-cd11-4aa5-ab53-9653fd6e4ad4/pen-tool.svg?v=1707297449747"
          />
          Draw
        </a>
        <a href="/archive" class="menu-button">
          <img
            style="position:absolute; left: 0; margin-left: 8px;"
            src="https://cdn.glitch.global/9c242df3-cd11-4aa5-ab53-9653fd6e4ad4/folder.svg?v=1707297449381"
          />
          Archive

        </a>

      </div>
    </main>

  </body>
</html>